page-login {

  .LoginButton {
    width: 29%;
  }

  .WelcomeTitle {
    padding-top: 120px;
    color: Black;
    font-size: 3em;
    font-weight: bold;

  }

  .item {
    background: rgba(232, 230, 230, 0px);
    border: medium none;
  }

  #loginCardButtons {
    width:100%;
    text-align: center;
  }

  #loginCard {
    background: rgba(232, 230, 230, 0.6px);
    border-radius: 10px;
  }

  #title {
    text-align: center;
  }

  #inscription {
    width : 91%;
  }

  .scroll-content{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }

  .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
  }
  .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
