page-login {
  .LoginButton {
    width: 80%;
  }

  .Buttons {
    width: 100%;
  }

  .WelcomeTitle {
    color: Black;
    font-size: 3em;
    margin: auto;
    width:100%;
  }

  .View {
    margin: auto;
    width:100%;
    text-align: center;
  }
}
