page-profile {

  #View{
    background-color: #F2F0F0;
  }

  #avatar{
    background-color: rgb(210, 120, 60);
  }

  #profilButton{
    margin-right: 10px;
  }

  #button-image1{
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 30px 0px 30px 34%;
  }

  #button-image2{
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 30px 0px 30px 34%;
    padding: 0 0 0 0;
  }

  .image{
    border-radius: 50%;
  }



  .thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  }

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.mask {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

img {max-width: 100%;}



  #boutonImg{
    width: 30px;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 0px;
  }

  #first-main-image{
    filter: blur(0px);
    height: 100%;
    width: 100%;
  }

  #first-main-button{
    height: 47%;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  #second-main-button{
    height: 47%;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 15px 0px 0px 0px;
  }

  .profile-label {
    white-space: normal;
  }

  .text{
    font-weight: bold;
    font-size: 10px;
    color: #696969;
    padding-bottom: 4px;
  }

  .text-title{
    font-size: 18px;
    font-weight: bold;
    color: #696969;
    padding-bottom: 4px;

  }

  .bouttons{
    width:100%;
  }

  .addButton{
    text-align: center;
    margin-bottom: 40px;
  }

  .text-description{
    padding-left: 10px;
    padding-bottom: 4px;
  }

  .title {
  	align: center;
  }

  .inputs{
  }

  .listes{
  }
}
