<ion-header>
  <ion-toolbar id="Toolbar" color="orange" end>


    <button id="BoutonMenu" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>

      <button ion-button id="boutonImg" clear icon-only *ngIf="profile.photo == ''" (click)="openProfilPage()" >
          <img id="image" src="assets/imgs/avatar.jpg" />
    	</button>

      <button ion-button id="boutonImg" *ngIf="profile.photo != ''" (click)="openProfilPage()" >
          <img id="image" [src]="profile.photo" />
    	</button>


      <button id="BoutonMessage" ion-button icon-only (click)="openMessagesPage()">
        <ion-icon name="text"></ion-icon>
      </button>

    </ion-buttons>

    <div padding>
      <ion-segment color="white" [(ngModel)]="offre_ou_demande">
        <ion-segment-button value="offre">
          Offres
        </ion-segment-button>
        <ion-segment-button value="demande">
          Demandes
        </ion-segment-button>
      </ion-segment>
    </div>

  </ion-toolbar>

</ion-header>


<ion-content padding id="content">

<div [ngSwitch]="offre_ou_demande">


  <div *ngSwitchCase="'offre'">

    Il faut récupérer les offres correspondantes ici, ne pas changer le design, juste les variables

    <div  *ngFor="let o of Offres">


    <ion-card class="cards">

    <ion-item class="items-header-cards">

      <h2 class="big-title"> Recherche : </h2>
      <h2><strong>{{o.title}}</strong></h2>
      <p><strong> {{o.typeOfJob}} - {{o.city}}</strong></p>

    </ion-item>

    <ion-card-content>
      <p text-left> {{o.description}} </p>
      <ion-row>
        <ion-col class="text-col-left">
          <p text-left><Strong class="titres"> Formation</Strong></p>
          <div>
            <p text-left class="description">

            </p>
          </div>
        </ion-col>
        <ion-col class="text-col-right">
          <p text-left><Strong class="titres"> Expériences </Strong></p>
          <div>
            <p text-left class="description">

            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-col-left">
          <p text-left><Strong class="titres"> Compétences </Strong></p>
          <div>
            <p text-left class="description">

            </p>
          </div>

        </ion-col>
        <ion-col class="text-col-right">
          <p text-left><Strong class="titres"> Qualités </Strong></p>
          <div>
            <p text-left class="description">

            </p>
          </div>
        </ion-col>
      </ion-row>

    <p text-left class="end-date"> <strong>À partir du  </strong> </p>
    </ion-card-content>

    <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="orange" icon-start>
            <ion-icon name='list-box'></ion-icon>
            Résultats
          </button>
        </ion-col>

        <ion-col text-right>
          <button ion-button clear small color="orange" icon-start>
            <ion-icon name='trash'></ion-icon>
            Supprimer
          </button>
        </ion-col>
      </ion-row>

  </ion-card>

    </div>

  </div>







  <div *ngSwitchCase="'demande'">

    Il faut récupérer les demandes correspondantes ici, ne pas changer le design, juste les variables

    <div class="main-div" *ngFor="let d of demandes; let i of index">

      <ion-card class="cards">

      <ion-card-header  class="header-card" text-wrap>
      <ion-item class="items-header-cards" style="white-space: normal;">
        <ion-avatar item-start>
          <img src="assets/imgs/avatar.jpg">
        </ion-avatar>
        <strong class="header-name">{{profile.firstname}} {{profile.familyname}}</strong>
        <h2 class="header-age" *ngIf="profile.age < 110">{{profile.age}} ans</h2>
      </ion-item>
      </ion-card-header>

      <ion-card-content>
        <p text-left> {{d.shortDescription}} </p>
        <ion-row>
          <ion-col class="text-col-left" col-6>
            <p text-left><Strong class="titres"> Formation</Strong></p>
            <div *ngFor="let f of profile.formations">
              <p text-left *ngIf="f.period == undefined" class="description">
                - {{f.formation}}
              </p>
              <p text-left *ngIf="f.period < 1" class="description">
                - {{f.formation}} (<strong>{{f.period * 12}} mois</strong>)
              </p>
              <p text-left *ngIf="f.period == 1" class="description">
                - {{f.formation}} (<strong>{{f.period}} an</strong>)
              </p>
              <p text-left *ngIf="f.period > 1" class="description">
                - {{f.formation}} (<strong>{{f.period}} ans</strong>)
              </p>
            </div>
          </ion-col>
          <ion-col class="text-col-right" col-6>
            <p text-left><Strong class="titres"> Compétences </Strong></p>
            <div *ngFor="let s of d.tableSkills">
              <p text-left class="description">
                -{{s}}
              </p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="text-col-left" col-6>
            <p text-left><Strong class="titres"> Expériences </Strong></p>
            <div *ngFor="let e of d.experiences">
              <p text-left class="description" *ngIf="e.period == undefined">
                -{{e.experience}}
              </p>
              <p text-left class="description" *ngIf="e.period != undefined">
                -{{e.experience}} (<strong>{{e.period}} mois</strong>)
              </p>
            </div>
          </ion-col>
          <ion-col class="text-col-right" col-6>
            <p text-left><Strong class="titres"> Qualités </Strong></p>
            <div *ngFor="let q of d.tableQualities">
              <p text-left class="description">
                -{{q}}
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    </div>


  </div>


</div>





<!-->

  <ion-list no-lines>
          <ion-item class="main-item" *ngFor="let demande of mesDemandesCompletees">
            <ion-card class="cards">

            <ion-item class="items-header-cards">
              <ion-avatar item-start>
                <img src="https://images.fineartamerica.com/images-medium-large-5/marty-mcfly-paul-tagliamonte.jpg">
              </ion-avatar>
              <h2>{{demande[0]}} - {{demande[1]}}</h2>
              <p><strong> {{demande[2]}} - {{demande[3]}} </strong></p>
              <p> {{demande[4]}} </p>
            </ion-item>

            <ion-card-content>
              <ion-row>
                <ion-col class="text-col-left">
                  <p text-left><Strong class="titres"> Formation</Strong></p>
                  <p text-left class="description">
                    - {{demande[5]}}
                  </p>
                  <p text-left class="description">
                    - {{demande[6]}}
                  </p>
                </ion-col>
                <ion-col class="text-col-right">
                  <p text-left><Strong class="titres"> Experience</Strong></p>
                  <p text-left class="description">
                    - {{demande[7]}}
                  </p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="text-col-left">
                  <p text-left><Strong class="titres"> Compétences </Strong></p>
                  <p text-left class="description">
                    - {{demande[8]}}
                  </p>
                </ion-col>
                <ion-col class="text-col-right">
                  <p text-left><Strong class="titres"> Qualités </Strong></p>
                  <p text-left class="description">
                    - {{demande[9]}}
                  </p>
                </ion-col>
              </ion-row>
              <ion-row no-padding>
                  <ion-col>
                    <button ion-button clear small color="orange" icon-start>
                      <ion-icon name='list-box'></ion-icon>
                      Résultats
                    </button>
                  </ion-col>
                  <ion-col text-center>
                    <button ion-button clear small color="orange" icon-start>
                      <ion-icon name='settings'></ion-icon>
                      modifier
                    </button>
                  </ion-col>
                  <ion-col text-right>
                    <button ion-button clear small color="orange" icon-start>
                      <ion-icon name='trash'></ion-icon>
                      Supprimer
                    </button>
                  </ion-col>
                </ion-row>
            </ion-card-content>

            </ion-card>


          </ion-item>
      </ion-list>
  </-->

</ion-content>
