page-cherche-job {
  #image{
    height: 27px;
    width: 27px;
    border-radius: 50%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  #boutonImg{
    width: 30px;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 0px;
  }
}
