<ion-header>

  <ion-navbar color="orange">
    <ion-title>Proposer un Job</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="View" padding-top>

  <div class="text-description">
    <span class="text-title">Le Job recherché</span>
  </div>

  <ion-list class="listes" no-lines>
    <button ion-item block color="white" (click)="showCategories()">{{categorie}}</button>

    <ion-item>
      <ion-label>Type d'emploi</ion-label>
      <ion-select [(ngModel)]="typeOfJob" interface="popover">
        <ion-option value="CDI">CDI</ion-option>
        <ion-option value="CDD">CDD</ion-option>
        <ion-option value="Stage">Stage</ion-option>
        <ion-option value="Service">Service</ion-option>
      </ion-select>
    </ion-item>

    <div *ngIf="(typeOfJob=='CDD' || typeOfJob=='Stage') && typeOfJob!=undefined">
      <ion-item>
  			<ion-label>Date de début</ion-label>
  			<ion-datetime [(ngModel)]="dateDebut" displayFormat="YYYY" placeholder="Date"></ion-datetime>
  		</ion-item>

  	   <ion-item>
  			<ion-label>Date de fin</ion-label>
  			<ion-datetime [(ngModel)]="dateFin" displayFormat="YYYY" placeholder="Date"></ion-datetime>
  		</ion-item>
    </div>

    <div *ngIf="typeOfJob=='CDI' && typeOfJob!=undefined">
      <ion-item>
  			<ion-label>À partir de</ion-label>
  			<ion-datetime [(ngModel)]="dateDebut" displayFormat="YYYY" placeholder="Date"></ion-datetime>
  		</ion-item>
    </div>

    <ion-item>
      <ion-input [(ngModel)]="city" class="inputs" type="text" placeholder="Ville"></ion-input>
    </ion-item>
  </ion-list>


  <div class="text-description">
    <span class="text-title">Adaptez votre profil</span>
  </div>

  <div class="subtitles-div">
    <span class="subtitles">Phrase d'accroche</span>
  </div>

  <ion-list class="listes" no-lines>
		<ion-item>
      <ion-textarea [(ngModel)]="profileCopy.shortDescription" placeholder="Courte description de votre personnalité">{{profileCopy.shortDescription}}</ion-textarea>
    </ion-item>

		<div class="text-description">
			<span class="text"> Cette courte description sera la première accroche à votre profil.</span>
		</div>
	</ion-list>



  <div class="subtitles-div">
		<span class="subtitles">Expériences</span>
	</div>

	<ion-list *ngFor="let e of profileCopy.experiences; let i = index" no-lines>

		<ion-item>
			<ion-input type="text" placeholder="Titre de l'expérience" [(ngModel)]="profileCopy.experiences[i].experience">{{e}}</ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Date de début</ion-label>
			<ion-datetime [(ngModel)]="profileCopy.experiences[i].dateDebut" displayFormat="MM/YYYY" placeholder="Date"></ion-datetime>
		</ion-item>

		<ion-item>
			<ion-label>Date de fin</ion-label>
			<ion-datetime [(ngModel)]="profileCopy.experiences[i].dateFin" displayFormat="MM/YYYY" placeholder="Date"></ion-datetime>
		</ion-item>

		<ion-buttons end>
			<button ion-button color="danger" round small (click)=removeExperience(i)>
				Effacer
			</button>
		</ion-buttons>

	</ion-list>

  <div style="text-align:center;">
    <button ion-button class="addButton" clear color="primary" block (click)="addExperience()">
      <span style="color:#488aff;"><ion-icon name="add"></ion-icon> Ajouter une Expérience</span>
    </button>
  </div>


  <div class="subtitles-div">
		<span class="subtitles">Compétences</span>
	</div>

  <ion-list class="listes" no-lines>

    <ion-item>
      <ion-label stacked color="grey" style="text-weight:bold;">Vos compétences (espacées par une virgule)</ion-label>
      <ion-textarea [(ngModel)]="profileCopy.skills">{{profileCopy.skills}}</ion-textarea>
    </ion-item>

  </ion-list>

  <div class="subtitles-div">
		<span class="subtitles">Qualités</span>
	</div>

  <ion-list class="listes" no-lines>

    <ion-item>
      <ion-label stacked color="grey" style="text-weight:bold;">Vos qualités (espacées par une virgule)</ion-label>
      <ion-textarea [(ngModel)]="profileCopy.qualities">{{profileCopy.qualities}}</ion-textarea>
    </ion-item>

  </ion-list>

  <ion-buttons text-center>
    <button ion-button class="bouttons" color="orange" (click)="searchProfiles()" round> Déposer l'annonce </button>
  </ion-buttons>


</ion-content>
