<!--
  Generated template for the MesOffresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="orange">

    <button id="BoutonMenu" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title id="Title">Mes offres</ion-title>

    <ion-buttons end>


  <button ion-button id="boutonImg" clear icon-only *ngIf="profile.photo == ''" (click)="openProfilPage()" >
      <img id="image" src="assets/imgs/avatar.jpg" />
	</button>

  <button ion-button id="boutonImg" *ngIf="profile.photo != ''" (click)="openProfilPage()" >
      <img id="image" [src]="profile.photo" />
	</button>

      <button id="BoutonMessage" ion-button icon-only (click)="openMessagesPage()">
        <ion-icon name="text"></ion-icon>
      </button>

    </ion-buttons>


  </ion-toolbar>

</ion-header>


<ion-content padding id="content">

  <div class="not-found-text" *ngIf="mesOffres.length==0">
    Aucune demande de job
  </div>

  <div *ngFor="let o of mesOffres; let i of index">

    <ion-card class="cards">
      <ion-card-header  class="header-card" text-wrap>
      <ion-item class="items-header-cards" style="white-space: normal;">
        <h2 class="big-title"> Recherche : </h2>
        <h2><strong>{{o.title}}</strong></h2>
        <p><strong> {{o.typeOfJob}} - {{o.city}}</strong></p>
      </ion-item>
      </ion-card-header>


    <ion-card-content>
      <p text-left> {{o.description}} </p>
      <ion-row>
        <ion-col class="text-col-left">
          <p text-left><Strong class="titres"> Compétences </Strong></p>
          <div *ngFor="let s of o.profileRecherche.tableSkills">
            <p text-left class="description">
              -{{s}}
            </p>
          </div>

        </ion-col>
        <ion-col class="text-col-right">
          <p text-left><Strong class="titres"> Qualités </Strong></p>
          <div *ngFor="let q of o.profileRecherche.tableQualities">
            <p text-left class="description">
              -{{q}}
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-col-left">
          <p text-left><Strong class="titres"> Expériences </Strong></p>
          <div *ngFor="let e of o.profileRecherche.experiences">
            <p text-left *ngIf="e.period < 1" id="description-exp">
              - {{e.experience}} (<strong>Au minimum {{e.period * 12}} mois</strong>)
            </p>
            <p text-left *ngIf="e.period == 1" class="description">
              - {{e.experience}} (<strong>Au minimum {{e.period}} an</strong>)
            </p>
            <p text-left *ngIf="e.period > 1 && e.period < 11" class="description">
              - {{e.experience}} (<strong>Au minimum {{e.period}} ans</strong>)
            </p>
            <p text-left *ngIf="e.period > 10" class="description">
              - {{e.experience}} (<strong>Plus de 10 ans</strong>)
            </p>
          </div>
        </ion-col>
      </ion-row>

    <p text-left class="end-date"> <strong>À partir du  </strong> </p>
    </ion-card-content>

    <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="orange" icon-start>
            <ion-icon name='list-box'></ion-icon>
            Résultats
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="orange" icon-start (click)="supprimer(i)">
            <ion-icon name='trash'></ion-icon>
            Supprimer
          </button>
        </ion-col>
      </ion-row>

  </ion-card>

  </div>




</ion-content>
