<!--
  Generated template for the ProposeJobPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title>Proposer un Job</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="View">

<ion-list class="listes" no-lines>

  <ion-item>
    <ion-input [(ngModel)]="firstname" class="inputs" type="text" placeholder="Titre de l'offre"></ion-input>
  </ion-item>
</ion-list>
<ion-list class="listes" no-lines>

  <ion-item>
    <ion-label>Sexe</ion-label>
    <ion-select [(ngModel)]="sexe" interface="popover">
      <ion-option value="Homme">Homme</ion-option>
      <ion-option value="Femme">Femme</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Date de Naissance</ion-label>
    <ion-datetime [(ngModel)]="date" displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-input type="text" placeholder="Email">{{email}}</ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" placeholder="Téléphone">{{phoneNumber}}</ion-input>
  </ion-item>


  </ion-list>

  <ion-list class="listes" no-lines>
    <ion-item>
      <ion-label stacked color="grey" style="text-weight:bold;">Courte description de votre personnalité</ion-label>
      <ion-textarea [(ngModel)]="shortDescription"></ion-textarea>
    </ion-item>

    <div class="text-description">
      <span class="text"> Cette courte description sera la première accroche à votre profil.</span>
    </div>
  </ion-list>

  <div class="text-description">
    <span class="text-title">Diplômes</span>
  </div>

  <div style="text-align:center;">
    <button ion-button  class="addButton" clear color="primary" (click)="addDiplome()">
      <span style="color:#488aff;" > <ion-icon name="add"></ion-icon> Ajouter un Diplôme</span>
    </button>
  </div>


  <ion-list *ngFor="let d of diplomes; let i = index" no-lines>

    <ion-item>
      <ion-input type="text" placeholder="Nom du Diplôme" [(ngModel)]="diplomes[i].diplome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date d'obtention</ion-label>
      <ion-datetime displayFormat="YYYY" placeholder="Date"></ion-datetime>
    </ion-item>

    <ion-buttons end>
      <button ion-button color="danger" round small (click)=removeDiplome(i)>
        Effacer
      </button>
    </ion-buttons>

  </ion-list>




  <div class="text-description">
    <span class="text-title">Formation</span>
  </div>

  <div style="text-align:center;">
    <button ion-button class="addButton" clear color="primary" block (click)="addFormation()">
      <span style="color:#488aff;"><ion-icon name="add"></ion-icon> Ajouter une Formation</span>
    </button>
  </div>

  <ion-list *ngFor="let f of formations; let i = index" no-lines>

    <ion-item>
      <ion-input type="text" placeholder="Nom de la formation" [(ngModel)]="formations[i].formation"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date de début</ion-label>
      <ion-datetime displayFormat="YYYY" placeholder="Date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Date de fin</ion-label>
      <ion-datetime displayFormat="YYYY" placeholder="Date"></ion-datetime>
    </ion-item>

    <ion-buttons end>
      <button ion-button color="danger" round small (click)=removeFormation(i)>
        Effacer
      </button>
    </ion-buttons>

  </ion-list>


  <div class="text-description">
    <span class="text-title">Expérience</span>
  </div>

  <div style="text-align:center;">
    <button ion-button class="addButton" clear color="primary" block (click)="addExperience()">
      <span style="color:#488aff;"><ion-icon name="add"></ion-icon> Ajouter une Expérience</span>
    </button>
  </div>

  <ion-list *ngFor="let e of experiences; let i = index" no-lines>

    <ion-item>
      <ion-input type="text" placeholder="Titre de l'expérience" [(ngModel)]="experiences[i].experience"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date de début</ion-label>
      <ion-datetime [(ngModel)]="experiences[i].dateDebut" displayFormat="MM/YYYY" placeholder="Date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Date de fin</ion-label>
      <ion-datetime [(ngModel)]="experiences[i].dateFin" displayFormat="MM/YYYY" placeholder="Date"></ion-datetime>
    </ion-item>

    <ion-buttons end>
      <button ion-button color="danger" round small (click)=removeExperience(i)>
        Effacer
      </button>
    </ion-buttons>

  </ion-list>




  <div class="text-description">
    <span class="text-title"> Compétences</span>
  </div>

  <ion-list class="listes" no-lines>

    <ion-item>
      <ion-label stacked color="grey" style="text-weight:bold;">Vos compétences (espacées par une virgule)</ion-label>
      <ion-textarea [(ngModel)]="skills"></ion-textarea>
    </ion-item>

  </ion-list>

  <div class="text-description">
    <span class="text-title"> Qualités</span>
  </div>

  <ion-list class="listes" no-lines>

    <ion-item>
      <ion-label stacked color="grey" style="text-weight:bold;">Vos qualités (espacées par une virgule)</ion-label>
      <ion-textarea [(ngModel)]="qualities"></ion-textarea>
    </ion-item>

  </ion-list>

  <ion-row>
  <ion-col>
    <button ion-button class="bouttons" color="orange" (click)="displayCard()" round> Visualiser la carte </button>
  </ion-col>
  <ion-col>
    <button ion-button class="bouttons" color="orange" (click)="calculatePeriod()" round> Enregistrer </button>
  </ion-col>
  </ion-row>


</ion-content>
