<ion-header>
  <ion-navbar>
    
    <ion-title>
      Paramètres
    </ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
    
    <div *ngIf="conv_info" padding>
        Conversation {{conv_info.id}} à <b>{{conv_info.target.name}}</b>
    </div>
    
  <!-- Liste des réglages -->
  
  <ion-list>
      <ion-list-header>
        <ion-label>Détection des intérêts à proximité</ion-label>
        <ion-toggle item-end [(ngModel)]="gps_enabled"></ion-toggle>
      </ion-list-header>
    </ion-list>
    
    <ion-list>
        
      <ion-list-header>
          <ion-label item-start>Distance maximale</ion-label>
          <ion-badge *ngIf="gps_enabled" item-end>{{distance_max}}km</ion-badge>
          <ion-badge *ngIf="!gps_enabled" color="light" item-end>{{distance_max}}km</ion-badge> <!-- Light si désactivé. -->

      </ion-list-header>
      
      <ion-item>
        <ion-range default="36" disabled="{{!gps_enabled}}" min="1" max="100" step="1" pin="true" [(ngModel)]="distance_max">
            <ion-label range-left>1 km</ion-label>
            <ion-label range-right>100 km</ion-label>
        </ion-range>
      </ion-item>
    
      </ion-list>
  
</ion-content>

